@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Razor Basics</h2>
        <div>
            <p>This applications helps you understand the basics of Razor syntax, Layouts and Taghelpers.</p>
            <p>Click on one of the links to navigate to a specific view.</p>
            <p>For a clear understanding, you will need access to the accompanying <b>ASP.NET Core</b> course book</p>
        </div>
    </div>
    <div class="col-md-3">
        <h2>@Html.ActionLink("Expressions", "Expressions") &raquo;</h2>
        <ul>
            <li>Implicit expressions</li>
            <li>Explicit expressions</li>
            <li>Html Encoding</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>@Html.ActionLink("Blocks", "Blocks") &raquo;</h2>
        <ul>
            <li>Code Blocks</li>
            <li>Implicit transitions</li>
            <li>Explicit transitions</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>@Html.ActionLink("Structures", "Structures") &raquo;</h2>
        <ul>
            <li>if/else</li>
            <li>switch/case</li>
            <li>iteration</li>
            <li>enumeration</li>
            <li>try/catch</li>
            <li>"using" block</li>
        </ul>
    </div>

    <div class="col-md-3">
        <h2>@Html.ActionLink("Directives", "Directives") &raquo;</h2>
        <ul>
            <li>@@model directive</li>
            <li>@@using directive</li>
            <li>@@inject directive</li>
            <li>@@function directive</li>
            <li>@@section directive</li>
        </ul>
    </div>

    <div class="col-md-3">
        <h2>@Html.ActionLink("Layout", "Alpha", "LayoutExamples") &raquo;</h2>
        <ul>
            <li>Layout property</li>
            <li>Sections</li>
            <li>ViewBag/ViewData</li>
        </ul>
    </div>
</div>
